:root {
    --white: #fff;
    --black: #000;
    --text-color: #333;
    --red: #B5292F;
}

.footer{
    background-color: #F2F2F2;
}
.footer-top{
    display: flex;
    justify-content: center;
    gap: 30px;
    border-bottom: 1px solid #E5E5E5;
    align-items: center;
    height: 152px;
}
.footer-top-left { 
    border-right: 1px solid #e6e6e6; 
    padding-right: 25px;
    margin-left: 35px;

}

.footer-top-left img{
    width: 240px;
}

.footer-top-right-input{
    height: 50px;
    border-radius: 99px;
    font-weight: 500;
    font-size: 16px;
    padding: 0 30px;
    border: 1px solid #ccc;
    color: #4D5765;
    outline: none;
    font-size: 15px;
    margin-right: 20px;
    margin-left: 20px;
}
.footer-top-right-button{
    background-color: var(--red);
    border-radius: 99px;
    border: 1px solid #ccc;
    height: 50px;
    font-weight: 500;
    padding: 0 23px;
    color: var(--white);
    font-size: 15px;
}
.footer-top-right{
    margin-left: 30px;
}
.footer-top-center{
    margin-left: 30px;
}

.footer-bottom{
    margin-top: 60px;
    width: 100%;
    display: flex;
    
}

.footer .container{
    display: flex;
    flex-direction: column;
}
.footer-bottom .container1{
    display: flex;
    gap: 40px;
}
.footer-bottom-item{
    width: 24%;
    padding-left: 7px;
}

.footer-bottom-item-social a {
    display: inline-flex;            /* canh giữa icon */
    align-items: center;
    justify-content: center;
    width: 40px;                     /* kích thước vòng tròn */
    height: 40px;
    border-radius: 50%;              /* bo tròn */
    background-color: #f0f0f0;       /* màu nền nhẹ */
    color: #333;                     /* màu icon */
    margin: 5px;
    border: 1px solid var(--black);                     /* khoảng cách giữa các icon */
}

.footer-bottom-item-social a:hover {
    background-color: var(--red);      
    color: white;
}
 
.footer-bottom-item p{
    line-height: 1.4;
}
.footer-bottom-item-border1{
    padding-left: 70px;
}
.footer-bottom-item-border1 a{
    color: var(--text-color);
}
.footer-bottom-item-border2{
    padding-left: 45px;
}
.footer-bottom-item-border2 a{
    color: var(--text-color);
}

.footer-bottom-item ul li {
    margin-bottom: 15px;
}
.footer-bottom-item ul li a i {
    margin-right: 8px; 
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    line-height: 1.6;
}
.contact-item i {
    background-color: var(--red); /* Màu đỏ */
    color: white;
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0; /* không bị co nhỏ khi màn hình nhỏ */
}

.contact-item a,
.contact-item span {
    color: #111;
    text-decoration: none;
    line-height: 1.6;
}
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
